body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
label {
    margin-top: 1em;
}
button {
    margin-top: 1em;
}
#planResults {
    margin-top: 2em;
    border: 1px solid white;
    padding: 1em;
}